.password-input {
  position: relative;
  width: 100%;
}

.password-input button {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: fit-content;
}

.password-input button svg {
  width: 1rem;
  height: 1rem;
}
