header {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  flex: 1;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: var(--black-transparent);
  z-index: 1;
}

header > * {
  z-index: 2;
}

header .header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  object-fit: cover;
  z-index: 0;
}

header .header-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

header .header-title #greeting {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

header .header-title #greeting h1 {
  font-family: 'Urbanist', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--white);
}

header .header-title span {
  font-size: 1.5rem;
  color: var(--white);
}

header .header-services {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  gap: 1rem;
}
