.loader {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--black-transparent);
  backdrop-filter: blur(2.5px);
  z-index: 500;
}

.loader h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
}

.loader span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  color: var(--white);
}
